### Hypernode-Docker OSX Development environment

## IDE & env
/.idea
/*.iml


/.env
/env/etc/.composer/auth.json


## File not for VCS
/*.sql*
/*.*.gz
/*.json
/*.csv

## Application
/magento/*
!/magento/.gitkeep

## Others
/Resources